@import "./global.scss";
#connect {
  width: 100vw;
  position: relative;
  font-family: $body-font;
  color: $dark-purple;

  #greeting {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    padding-top: 20px;
  }

  #prompt {
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
  }

  #mode-switch {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;

    #mode-prompt {
      position: relative;
      width: fit-content;
    }
    .switcher {
      margin-left: 10px;
      user-select: none;
      position: relative;
      top: 10px;
      transition: top 0.2s;
      width: fit-content;
      &.bottom {
        top: -10px;
      }

      .option {
        transition: opacity 0.2s;
        opacity: 1;
        font-size: 20px;
        &.deselected {
          opacity: 0.3;
        }
      }
    }
  }

  #request-panel {
    position: relative;
    .request {
      position: absolute;
      top: 0px;
      width: 100%;

      .subset-topic-bank {
        display: flex;
        flex-direction: row;
      }

      #find-or-customize {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .subtle-cta {
          width: fit-content;
        }
        button {
          margin-right: 15px;
        }
      }
    }
  }

  #customize-panel {
    position: relative;
  }

  #customize-prompt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #action-buttons {
    position: fixed;
    right: 10px;
    bottom: 10px;
    .action-button {
      border-radius: 100px;
      img {
        transition: transform 0.2s;
        transform: scale(0.7);
      }
    }
    #reset-button {
      border-radius: 100px;
      background: white;
      width: fit-content;
      overflow: hidden;
    }
    #reset-button:active {
      img {
        transform: scale(0.9);
      }
    }
  }

  .topic-bank {
    position: absolute;
    top: 0px;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    position: relative;
    flex-wrap: wrap;

    .topic {
      box-sizing: border-box;
      margin: 10px;
      height: 40px;
      width: 200px;
    }

    .alpha-section {
      display: flex;
      flex-direction: column;
      .topic-alpha-header {
        width: 300px;
        font-size: 50;
        position: relative;
        flex-direction: column;
        font-size: 30px;
        line-height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        .underline {
          width: 400px;
        }
      }

      .topics {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        .bank-item {
          .topic {
            transition: border 0.2s;
          }
        }
        .bank-item.selected-teach {
          .topic {
            border: 4px solid $teal;
          }
        }

        .bank-item.selected-learn {
          .topic {
            border: 4px solid $orange;
          }
        }
      }
    }
  }

  #matches-container {
    margin: 20px;
    position: relative;
    .topic {
      width: fit-content;
    }

    #matches-prompt {
      position: relative;
      top: -40px;
      z-index: 2;
      #matches-prompt-header {
        font-size: 20px;
        margin-bottom: 10px;
      }
      #matches-prompt-redirect {
        font-size: 12px;
      }
    }

    #matches-content {
      z-index: 1;
    }

    .radio-dot {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border: 1px solid $dark-purple;
      margin: 10px;
      .radio-dot-fill {
        width: 14px;
        height: 14px;
        border-radius: 14px;
        background: $dark-purple;
        transform-origin: center;
        transition: transform 0.1s;
        transform: scale(0);

        &.selected {
          transform: scale(1);
        }
      }
    }
    .match {
      margin-top: 10px;
      justify-content: flex-start;
      .username {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-right: 10px;
      }
      .match-phrase {
        margin-right: 10px;
      }
    }

    .username.teach {
      color: $teal;

      &.selected {
        border-bottom: 2px solid $teal;
      }
    }
    .username.learn {
      color: $orange;

      &.selected {
        border-bottom: 2px solid $orange;
      }
    }
  }

  @media (max-width: 470px) {
    #greeting {
      font-size: 16px;
    }
    #prompt {
      font-weight: bolder;
      font-size: 25px;
    }
  }

  @media (max-width: 700px) {
    #customize-prompt {
      flex-direction: column;
    }
  }

  @media (max-width: 800px) {
    .topic-bank {
      .topic {
        width: 60vw;
      }
    }
  }

  @media (max-width: 1200px) {
    .topic-grid {
      grid-auto-columns: auto auto auto;
    }
  }

  @media (min-width: 1200px) {
    .topic-grid {
      grid-auto-columns: auto auto auto auto;
    }
  }
}
