@import "./global.scss";
#connect {
  width: 100vw;
  position: relative;
  font-family: $body-font;
  color: $dark-purple;

  #greeting {
    width: 100%;
    font-size: 40px;
    margin-top: 20px;
    padding-top: 20px;
  }

  #mode-switch {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    position: relative;

    .switcher {
      margin-left: 10px;
      user-select: none;
      position: relative;
      top: 10px;
      transition: top 0.2s;
      width: 50px;
      &.bottom {
        top: -10px;
      }

      .option {
        transition: opacity 0.2s;
        opacity: 1;
        font-size: 20px;
        &.deselected {
          opacity: 0.3;
        }
      }
    }
  }

  #request-panel {
    position: relative;
    .request {
      position: absolute;
      top: 0px;
      width: 100%;

      .subset-topic-bank {
        display: flex;
        flex-direction: row;
      }

      #find-or-customize {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .subtle-cta {
          width: fit-content;
        }
        button {
          width: 150px;
          height: 45px;
          border: none;
          margin-right: 15px;
        }
      }

      &.teach {
        .cta {
          background: $teal;
          color: white;
        }
      }

      &.learn {
        .cta {
          background: $orange;
          color: white;
        }
      }
    }
  }

  #action-buttons {
    position: fixed;
    right: 10px;
    bottom: 10px;
    .action-button {
      border-radius: 100px;
      img {
        transition: transform 0.2s;
        transform: scale(0.7);
      }
    }
    #reset-button {
      border-radius: 100px;
      background: white;
      width: fit-content;
      overflow: hidden;
    }
    #reset-button:active {
      img {
        transform: scale(0.9);
      }
    }
  }

  .topic-bank {
    position: absolute;
    top: 0px;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    position: relative;
    flex-wrap: wrap;

    .topic {
      box-sizing: border-box;
      margin: 10px;
      height: 40px;
      width: 200px;
    }

    .alpha-section {
      display: flex;
      flex-direction: column;
      .topic-alpha-header {
        width: 300px;
        font-size: 50;
        position: relative;
        flex-direction: column;
        font-size: 30px;
        line-height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        .underline {
          width: 400px;
        }
      }

      .bank-item {
        .topic {
          transition: border 0.2s;
        }
      }
      .bank-item.selected-teach {
        .topic {
          border: 4px solid $teal;
        }
      }

      .bank-item.selected-learn {
        .topic {
          border: 4px solid $orange;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .topic-bank {
      .topic {
        width: 60vw;
      }
    }
  }

  @media (max-width: 1200px) {
    .topic-grid {
      grid-auto-columns: auto auto auto;
    }
  }

  @media (min-width: 1200px) {
    .topic-grid {
      grid-auto-columns: auto auto auto auto;
    }
  }
}
