@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.shadow {
  box-shadow: 2px 2px 10px 10px rgba(black, 0.1);
}

.rounded {
  border-radius: 10px;
}

* {
  font-family: "Quicksand", sans-serif;
}
