@import "./global.scss";

#home {
  font-family: $body-font;
  color: $dark-purple;
  .background {
    color: white;
  }

  #hero {
    position: relative;
    width: 100%;
    height: 33vh;
    background: $dark-teal;

    #hero-text {
      position: relative;
      top: -15%;
      color: white;
      font-size: 4em;
    }

    .button-container {
      width: 100%;
      padding: none;
      display: flex;
      flex-direction: row;
      position: absolute;
      justify-content: center;
      align-items: center;
      bottom: 15%;
      button {
        background-color: $teal;
        color: white;
        box-shadow: 0px 2px 5px 2px rgba(black, 0.2);
        transition: box-shadow 0.3s;
        border-radius: 5px;
        width: 20vw;
        min-width: 200px;
        height: 4vh;
        border: none;
        margin: 10px;
        font-variant: small-caps;
        font-size: 1.3em;

        &.emphasis {
          width: 25vw;
          height: 6vh;
          background-color: $orange;
        }
      }

      button:active {
        box-shadow: 0px 4px 5px 5px rgba(black, 0.2);
      }
    }
  }
}
