@import "./global.scss";
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.7);
  position: fixed;
  top: 0px;

  .header {
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-justify: center;
  }

  .login-type-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .login-type {
      transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
      user-select: none;
      box-shadow: 0px 0px 0px 0px transparent;
      color: #555555;
    }

    .login-type.active {
      color: #222222;
    }
  }

  .panel {
    width: 50%;
    height: 50%;

    background: white;
    position: relative;
    box-sizing: border-box;

    .error-field {
      width: 100%;
      color: #ce2828;
    }

    .input-fields {
      width: 100%;
      .input-field {
        width: 100%;

        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;

        input {
          width: 80%;
          border: 1px solid #222222;
        }
        label {
          font-family: "Quicksand", sans-serif;
          width: 100%;
          margin-right: 20px;
          position: relative;
          top: -5px;
        }
      }
    }

    .cancel {
      background: transparent;
      border: 1px solid #555555;
      color: #555555;
      transition: color 0.1s, border 0.1s, background-color 0.1s;
    }
    .cancel:active {
      border: 1px solid #555555;
      background: rgba(#555555, 0.2);
      color: #555555;
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;

      .button {
        transition: background-color 0.1s;
        user-select: none;
        &.disabled {
          background: #ababab;
          pointer-events: none;
        }
      }
    }
  }

  @media (min-width: 350px) and (max-width: 1440px) {
    .login-type-container {
      .login-type {
        width: 100px;
        height: 30px;
        margin: 10px;
      }
      .login-type.active {
        box-shadow: inset 0px 0px 2px 2px rgba($dark-purple, 0.3);
      }
    }
    .panel {
      min-height: 500px;
      max-height: 700px;
      min-width: 300px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .input-fields {
      margin-bottom: 20px;

      .input-field {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      input {
        height: 30px;
      }
    }

    .buttons {
      bottom: 20px;
      margin-top: 20px;
      .button {
        width: 100px;
        height: 30px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  @media (min-width: 1440px) {
    .login-type-container {
      .login-type {
        width: 25%;
        margin: 50px;
        padding: 10px;
      }
      .login-type.active {
        box-shadow: inset 0px 0px 12px 12px rgba($dark-purple, 0.3);
      }
    }

    .panel {
      min-width: 300px;
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .input-fields {
      margin-bottom: 60px;

      .input-field {
        margin-top: 80px;
        margin-bottom: 80px;
      }
      input {
        height: 100px;
        padding-left: 40px;
      }
    }
    .buttons {
      bottom: 80px;
      margin-top: 20px;
      .button {
        width: 300px;
        height: 80px;
        padding: 10px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 20px;
      }
    }
  }
}
