@import "../css/global.scss";

#match-form {
  width: 100%;
  max-width: 650px;

  .char-limit-counter {
    width: 60px;
    position: relative;
    height: 20px;

    .vinculum {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .numerator {
      display: inline-block;
      position: absolute;
      left: 0px;
      display: flex;
      justify-content: flex-end;
      width: 40%;
    }

    .denominator {
      display: inline-block;
      position: absolute;
      right: 0px;
      display: flex;
      justify-content: flex-start;
      width: 40%;
    }
  }

  .question {
    margin-top: 40px;
    .label {
      width: 90%;
      text-align: left;
      line-height: 20px;
      margin-left: 20px;
      overflow: wrap;
    }

    .radio-option {
      margin-left: 40px;
      margin-bottom: 10px;
      display: flex;
      width: fit-content;
      align-content: center;
      align-items: flex-start;
      input[type="radio"] {
        background: transparent;
        background-color: white;
        width: 20px;
        height: 20px;
        color: $dark-purple;
        margin: 0px;
        margin-right: 20px;
      }
    }
    #q2-radio-options {
      margin-top: 20px;
    }
  }

  .response-container {
    position: relative;
    margin: 20px;

    .text-field-container {
      width: 100%;
      position: relative;

      textarea {
        width: 100%;
        height: 10vh;
        
      }
    }
    .char-limit-counter {
      position: absolute;
      bottom: -25px;
      right: 0px;
    }
  }

  #button-bank {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
  }
}
