@import "../css/global.scss";

#match-form {
  width: 100%;
  max-width: 650px;

  .question {
    margin-top: 40px;
    .label {
      width: 90%;
      text-align: left;
      line-height: 20px;
      margin-left: 20px;
      overflow: wrap;
    }

    .radio-option {
      margin-left: 40px;
      margin-bottom: 10px;
      display: flex;
      width: fit-content;
      align-content: center;
      align-items: flex-start;
      input[type="radio"] {
        background: transparent;
        background-color: white;
        width: 20px;
        height: 20px;
        color: $dark-purple;
        margin: 0px;
        margin-right: 20px;
      }
    }
    #q2-radio-options {
      margin-top: 20px;
    }
  }

  .char-limited-text-field {
    margin: 20px;

    .text-field-container {
      textarea {
        height: 10vh;
      }
    }
  }

  #button-bank {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
  }
}
