@import "./global.scss";

.nav-bar {
  width: 100vw;
  height: 10vh;
  min-height: 50px;
  max-height: 200px;
  background: transparent;
  font-variant: small-caps;
  margin-bottom: 5px;
  color: $dark-purple;
  top: 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  background: white;
  font-family: $body-font;

  .logo-container {
    width: 10vh;
    height: 10vh;

    justify-self: flex-start;
    .logo {
      min-width: 30px;
      min-height: 30px;
      width: 5vh;
      height: 5vh;
      border: 3px solid $tan;
      border-radius: 100%;
    }
  }

  a {
    color: $dark-purple;
    text-decoration: none;
  }

  a:visited {
    color: $dark-purple;
  }

  .button {
    color: $dark-purple;
    border: 1px solid $dark-purple;
  }

  .button-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;

    justify-self: flex-end;

    .tab {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15vw;

      &.selected {
        border-bottom: 2px solid $dark-purple;
      }
    }
  }
}
