@import "./global.scss";

.topic-container {
  position: relative;

  .topic {
    background: conic-gradient(
      at bottom left,
      $cream 2%,
      $cream 3%,
      $teal 4%,
      $teal 5%,
      $dark-teal 6%,
      $dark-teal 7%,
      $orange 8%,
      $orange 9%,
      transparent 10%
    );
    transition: background-color 0.3s;
  }
  .remove-topic-dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: $red;
    z-index: 2;
    justify-content: space-between;
    font-weight: bold;
    .remove-topic-buttons {
      flex-direction: row;
      padding-left: 5px;
      padding-right: 5px;

      .remove-topic-button {
        background-color: $red;
        margin-left: 5px;
        margin-right: 5px;
        width: 30%;
      }
    }
  }
}

.topic-bank {
  position: absolute;

  flex-direction: column;
  position: relative;
  flex-wrap: wrap;

  .topic {
    box-sizing: border-box;
  }
}

@media (min-width: 350px) {
  .topic-item {
    padding: 10px;
    width: 200px;
  }

  .topic-bank {
    margin-top: 20px;
    top: 0px;
    .topic {
      margin: 10px;
      height: 40px;
      width: 200px;
    }
  }
}

@media (min-width: 768px) {
  .topic-item {
    padding: 10px;
    width: 200px;
  }
  .topic-bank {
    margin-top: 20px;
    top: 0px;
    .topic {
      margin: 10px;
      height: 40px;
      width: 200px;
    }
  }
}

@media (min-width: 1440px) {
  .topic-item {
    padding: 80px;
    width: 500px;
  }
  .topic-bank {
    margin-top: 20px;
    top: 0px;
    .topic {
      margin: 10px;
      height: 40px;
      width: 700px;
    }
  }
}
