.vertical-squish-enter {
  transform: scaleY(0);
}
.vertical-squish-enter-active {
  transform: scaleY(1);
  transition: transform 200ms;
}
.vertical-squish-exit {
  transform: scaleY(1);
}
.vertical-squish-exit-active {
  transform: scaleY(0);
  transition: transform 200ms;
}

// fade
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.fade-exit-done {
  opacity: 0;
}
