.main {
  background-color: #eeeeee;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif; }

.main .title {
  font-family: sans-serif;
  font-size: 8vw;
  height: 30vh; }

.main #subtitle {
  font-size: 4vw; }

.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
